<body>
	<div class="container">
		<div class="row">
			<!-- サクセスメッセージ表示 -->
			<p>
				<% if flash[:notice] %>
					<%= flash[:notice] %>
				<% end %>
			</p>

			<section class="col-xs-3">
				<!-- ユーザー情報と投稿フォームを表示 -->
				<%= render 'users/list', book: @book, user: @user %>
			</section>

			<section class="col-xs-9">

				<h1>Books</h1>

				<!-- 投稿内容を表示 -->
				<table class="table table-hover table-inverse">
					<thead>
						<tr>
							<th></th>
							<th>Title</th>
							<th>Opinion</th>
						</tr>
					</thead>
					<% @books.each do |book| %>
					<tbody>
						<tr>
							<td>
								<%= attachment_image_tag book.user, :profile_image, :fill, 50, 50, fallback: "img/no-image.png", size: "50x50" %>
							</td>
							<td><%= link_to book.title, book_path(book.id), class: "book_#{book.id}" %></td>
							<td><%= book.body %></td>
						</tr>
					</tbody>
					<% end %>
				</table>
				<div id='map'></div>

<style>
#map{
  height: 400px;
}
</style>

				<script>
				

function initMap(){
	var geocoder = new google.maps.Geocoder();

	geocoder.geocode({ address: "<%= @user.address_city %>" }, function(results, status){
   if (status === 'OK' && results[0]){  //status を確認して処理開始
      new google.maps.Map(document.getElementById('map'), {
        center: results[0].geometry.location,
        zoom: 14
      });
   }else{
     alert('失敗しました。理由: ' + status);
   }
}); 

 
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJFk8qRbKA5Z94FIn6LL1E3MvgwDWMlfA&callback=initMap" async defer></script>
			</section>
			
		</div>
	</div>
</body>